.ani {
  background-color: darksalmon;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.add {
  position: fixed;
  top: 200px;
  padding: 20px;
  background-color: yellowgreen;
}

/* @import "~taro-ui/dist/style/components/fab.scss"; */


