.todo {
  display: flex;
  flex-direction: column;

  padding: 20px;
  margin: 30px;
  border-radius: 20px;
}

.todo {
  transition: 1s background-color;
}

.complete {
  background-color: darkseagreen;
}

.ready {
  background-color: lightcyan;
}

.checkbox {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.checked {
  background-color: pink;
}

.unchecked {
  background-color: aquamarine;
}

.title {
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;
  margin-left: 10px;
  flex: 1;
}

.title_complete {
  color: lightgreen;
  text-decoration-line: line-through;
}

.title_uncomplete {
  color: black;
}

.date {
  color: darkgray;
  font-size: 20px;
  font-weight: 300;
}

.home {
  background-color: darkkhaki;
  column-rule: darkorange;
}

